* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #1B1C22;
    color: #F5F6FE;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 80px;
}

.container__info {
    margin: 10px 0;
}

.button {
    display: block;
    width: 190px;
    margin: 0 auto;
    color: #F5F6FE; 
    text-decoration: none; 
    user-select: none; 
    background: rgb(61,80,250); 
    padding: .7em 1.5em;
    outline: none; 
}

.button:hover:not(:active) {
    box-shadow:
     0 0 3px rgba(0,0,0,0) inset,
     0 1px 1px 1px rgba(61,80,250, 0.534),
     0 -1px 1px 1px rgba(61,80,250, 0.781);
     background: rgb(53, 71, 231)
  }

.container__line {
    border: 0;
    height: 1px;
    background: #afb1bd;
    margin: 15px 0px 15px 0px;
}

.container__lab-list {
    padding:0;
    list-style: none;
}

.container__lab-list a{
    display: block;
    text-decoration: none;
    color: #F5F6FE;
}

.container__lab-list li {
    position: relative;
    padding: 10px 30px;
    background: linear-gradient(to left, #3C50FA 0%, #3C50FA, #3C50FA);
    border: 2px solid #337AB7;
    color: #506a6b;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    text-align:center;
    background-size: 100% 100%;
    z-index: 1;
}

.container__lab-list li:before {
    content: "";
    position:absolute;
    width: 0;
    height: 100%;
    top: 50%;
    left: 50%;
    background: linear-gradient(to left, #202da3 0%, #2635b9, #202da3);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.container__lab-list li:hover:before {
    width: 100%;
    opacity: 1;
}